# Preprocessing in Python using data from a CSV```(DirtyData.csv)```
- import ```pandas``` as pd
- import ```numpy``` as np

In [15]:
import pandas as pd
import numpy as np

# Load the data
df = pd.read_csv('./DirtyData.csv')

# Print the data
df.head()

,first_name,last_name,email,gender,income,tax_15
0,Alverta,Colkett,acolkett0@cocolog-nifty.com,Female,123072.34,NaN
1,Nichole,Brandassi,nbrandassi1@mail.ru,Bigender,NaN,24115.00
2,Ruperto,Chaddock,rchaddock2@mail.ru,Male,62524.77,9378.72
3,Lula,Sorrill,lsorrill3@hatena.ne.jp,Female,48000.77,7200.12
4,Blondell,Benard,bbenard4@admin.ch,Female,88638.49,13295.77

## Check how much of the data is missing
### Create a function to check how many missing values that we have in the CSV```(DirtyData.csv)```

In [16]:
# check how many missing values we have per column
def missing_values():
    print("Missing values per column:")
    null_values = df.isna().sum()
    print(null_values.to_string())

    print("\nPercentage of missing values:")
    pct_missing = null_values.sum() / (len(df) * len(df.columns))
    print(f"{pct_missing * 100:.2f}%")

    print("\nNumber of rows WITHOUT any missing values:")
    rows_without_missing = len((df[(df.income.isna()) | (df.tax_15.isna())]))
    print(len(df) - rows_without_missing)

missing_values()

Missing values per column:
first_name      0
last_name       0
email           0
gender          0
income        115
tax_15         28

Percentage of missing values:
2.38%

Number of rows WITHOUT any missing values:
857

## Replace the missing values
- Change the negative ```income``` values to positive
- Derive the ```income``` column to fill in missing values
- Derive the ```tax``` colum to fill in missing values

In [17]:
# replace negative income values
df["income"] = df["income"].abs()

# derive the income / tax
df["income"] = np.where((df.income.isna() & df["tax_15"].notnull()), df["tax_15"] * (100/15), df["income"])

df["tax_15"] = np.where((df.income.notnull() & df["tax_15"].isna()), df["income"] * 0.15, df["tax_15"])

## Re-check how many missing values we have in the CSV```(DirtyData.csv)```
### Use the function that you created previously to check how many missing values we have in the CSV```(DirtyData.csv)```

In [18]:
missing_values()

Missing values per column:
first_name    0
last_name     0
email         0
gender        0
income        0
tax_15        0

Percentage of missing values:
0.00%

Number of rows WITHOUT any missing values:
1000

## Fix noisy data in the `gender` column

In [19]:
df["gender"] = df["gender"].replace(["Man", "Men"], "Male", regex = True)
df["gender"] = df["gender"].replace(["Woman", "Women"], "Female", regex = True)

# write cleaned data to a new file
df.to_csv("CleanedData.csv")