# Title

Here's some words and stuff.

In [8]:
import pandas

<strong>Markdown</strong> in between code

In [9]:
df = pandas.read_csv('Data/AllPokemon.csv')

I only want Fire type Pokemon from 1st generation -- filter the data frame on these criteria.

In [12]:
filtered_df = df[(df.Type1 == 'Fire') & (df.Gen == 1)]
filtered_df.head()

,Number,Name,Type1,Type2,Total,HP,Atk,Def,SpAtk,SpDef,Spd,Gen
3,4,Charmander,Fire,,309,39,52,43,60,50,65,1
4,5,Charmeleon,Fire,,405,58,64,58,80,65,80,1
5,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1
36,37,Vulpix,Fire,,299,38,41,40,50,65,65,1
37,38,Ninetales,Fire,,505,73,76,75,81,100,100,1

Only show Pokemon with Spd >= 100

In [16]:
fastest_pokemon = df[df.Spd >= 100]

print(fastest_pokemon.Name)

5       Charizard
17        Pidgeot
21         Fearow
25         Raichu
37      Ninetales
          ...
1033    Eternatus
1037       Zarude
1038    Regieleki
1041    Spectrier
1044      Calyrex
Name: Name, Length: 181, dtype: object