# Assignment 1
Here we are -- Data Analytics time! WoOooooOOoOoo!
---
### Instructions
1. Using what we went over in class during the Jupyter tutorial, load in the data found in the **Income Data.csv** file
    - Create a dataframe with `pandas`
2. Print that dataframe using a `print` statement

Do these steps in the code block below (you may delete the comment if you'd like).

In [1]:
# Importing the necessary libraries
import pandas as pd

# I changed the name of the CSV to make it look more uniform to the other files.
df = pd.read_csv('Income_Data.csv')

# Displaying the first 5 rows of the data
# You dont need to use a print statement to display the data
# You can just call the variable name
df.head()

          job  type  income  education  prestige
0  accountant  prof      62         86        82
1       pilot  prof      72         76        83
2   architect  prof      75         92        90
3      author  prof      55         90        76
4     chemist  prof      64         86        90

3. Provide your name, 2 interesting facts about yourself, and what you're most excited about in regards to this course in the following Markdown cell

Carson Mulder
I love to watch Formula 1 and am into cars.
I am a archery coach for one of my old teams and am a registered Level 2 USA Archery Coach.
I want to be able to do anything that I want to with a CSV and be able to do it fast.

4. Submit this `Jupyter` file to D2L, renamed as **Last_First_Assignment1.ipynb** 
    - Replace '**Last**' and '**First**' with your name